{
  "intents": [
    {
      "intent": "MemoryJaneAIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneBIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneCIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneDIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneEIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneFIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneGIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneHIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneIIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneJIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneKIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneLIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneMIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneNIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneOIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJanePIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneQIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneRIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneSIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneTIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneUIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneVIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneWIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneXIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneYIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    },
    {
      "intent": "MemoryJaneZIntent",
      "slots": [
        {
          "name": "RestOfWord",
          "type": "LITERAL"
        }
      ]
    }
  ]
}
