MMemoryJaneQuestionIntent {Hartford|Answer}
 MemoryJaneQuestionIntent {Olympia|Answer}
 MemoryJaneQuestionIntent {Dover|Answer}
 MemoryJaneQuestionIntent {Albany|Answer}
 MemoryJaneQuestionIntent {Salt Lake City|Answer}
 MemoryJaneQuestionIntent {Providence|Answer}
 MemoryJaneQuestionIntent {Atlanta|Answer}
 MemoryJaneQuestionIntent {Santa Fe|Answer}
 MemoryJaneQuestionIntent {Phoenix|Answer}
 MemoryJaneQuestionIntent {Harrisburg|Answer}
 MemoryJaneQuestionIntent {Juneau|Answer}
 MemoryJaneQuestionIntent {Boston|Answer}
 MemoryJaneQuestionIntent {Columbia|Answer}
 MemoryJaneQuestionIntent {Indianapolis|Answer}
 MemoryJaneQuestionIntent {Baton Rouge|Answer}
 MemoryJaneQuestionIntent {Jefferson City|Answer}
 MemoryJaneQuestionIntent {Boise|Answer}
 MemoryJaneQuestionIntent {Tallahassee|Answer}
 MemoryJaneQuestionIntent {Lincoln|Answer}
 MemoryJaneQuestionIntent {Little Rock|Answer}
 MemoryJaneQuestionIntent {Helena|Answer}
 MemoryJaneQuestionIntent {Springfield|Answer}
 MemoryJaneQuestionIntent {Topeka|Answer}
 MemoryJaneQuestionIntent {Montpelier|Answer}
 MemoryJaneQuestionIntent {Pierre|Answer}
 MemoryJaneQuestionIntent {Frankfort|Answer}
 MemoryJaneQuestionIntent {Denver|Answer}
 MemoryJaneQuestionIntent {Richmond|Answer}
 MemoryJaneQuestionIntent {Cheyenne|Answer}
 MemoryJaneQuestionIntent {Oklahoma City|Answer}
 MemoryJaneQuestionIntent {Annapolis|Answer}
 MemoryJaneQuestionIntent {Augusta|Answer}
 MemoryJaneQuestionIntent {Raleigh|Answer}
 MemoryJaneQuestionIntent {Bismarck|Answer}
 MemoryJaneQuestionIntent {Columbus|Answer}
 MemoryJaneQuestionIntent {Nashville|Answer}
 MemoryJaneQuestionIntent {Montgomery|Answer}
 MemoryJaneQuestionIntent {Madison|Answer}
 MemoryJaneQuestionIntent {Salem|Answer}
 MemoryJaneQuestionIntent {Austin|Answer}
 MemoryJaneQuestionIntent {Sacramento|Answer}
 MemoryJaneQuestionIntent {Lansing|Answer}
 MemoryJaneQuestionIntent {Concord|Answer}
 MemoryJaneQuestionIntent {Jackson|Answer}
 MemoryJaneQuestionIntent {Saint Paul|Answer}
 MemoryJaneQuestionIntent {Trenton|Answer}
 MemoryJaneQuestionIntent {Des Moines|Answer}
 MemoryJaneQuestionIntent {Carson City|Answer}
 MemoryJaneQuestionIntent {Honolulu|Answer}
 MemoryJaneQuestionIntent {Charleston|Answer}

 Domain.MemoryJaneQuitIntent   done
 Domain.MemoryJaneQuitIntent   all done
 Domain.MemoryJaneQuitIntent   i am done
 Domain.MemoryJaneQuitIntent   I'm done
 Domain.MemoryJaneQuitIntent   end
 Domain.MemoryJaneQuitIntent   finished
 Domain.MemoryJaneQuitIntent   quit
 Domain.MemoryJaneQuitIntent   i quit
 Domain.MemoryJaneQuitIntent   never mind
 Domain.MemoryJaneQuitIntent   no more
 Domain.MemoryJaneQuitIntent   stop
 Domain.MemoryJaneQuitIntent   that's all
 Domain.MemoryJaneQuitIntent   exit
 Domain.MemoryJaneQuitIntent   cancel