MemoryJaneAIntent A. {A B C D E F G H I J K L M N O P Q R S T U V W X Y Z|RestOfWord}
MemoryJaneBIntent B. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneCIntent C. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneDIntent D. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneEIntent E. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneFIntent F. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneGIntent G. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneHIntent H. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneIIntent I. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneJIntent J. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneKIntent K. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneLIntent L. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneMIntent M. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneNIntent N. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneOIntent O. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJanePIntent P. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneQIntent Q. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneRIntent R. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneSIntent S. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneTIntent T. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneUIntent U. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneVIntent V. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneWIntent W. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneXIntent X. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneYIntent Y. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}
MemoryJaneZIntent Z. {A. B. C. D. E. F. G. H. I. J. K. L. M. N. O. P. Q. R. S. T. U. V. W. X. Y. Z.|RestOfWord}