MemoryJaneWordIntent {A B C D E F G H I J K L M N O P Q R S T U V W X Y Z | RestOfWord}

MemoryJaneQuitIntent   done
MemoryJaneQuitIntent   all done
MemoryJaneQuitIntent   i am done
MemoryJaneQuitIntent   I'm done
MemoryJaneQuitIntent   end
MemoryJaneQuitIntent   finished
MemoryJaneQuitIntent   i quit
MemoryJaneQuitIntent   never mind
MemoryJaneQuitIntent   no more
MemoryJaneQuitIntent   stop
MemoryJaneQuitIntent   that's all